<html>
    <head>
        <title>About Page</title>

        <link rel="stylesheet" type="text/css" href="../static/style.css">

        <link rel="preconnect" href="https://fonts.gstatic.com">

        <meta name='viewport' content="width = device-width , initial-scale = 1"> 
        
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <div class="banner">
            <div class="navbar">
                <a href="/" class="home">Fake or Real News</a>
                <input type="checkbox" id="click">
                <label for="click" class="menu-btn">
                    <i class="fas fa-bars"></i>
                </label>
                <ul>
                    <li><a href="/">Details</a></li>
                    <li><a href="/prediction">Prediction</a></li>
                    <li><a class="active" href="/about">About</a></li>
                </ul>
            </div>
            <div class="content">
                <h3>About Me!</h3>
                <br>
                
                <p>I have been working in Data Science field for quite a while now.
                I am quite enthusiastic about learning new and emerging technologies,and always looks for something new to try out. I mainly work with data and its analysis realted work. 
                I have been able to complete a lot of diverse set of projects in the fiels as well. 
                I am a team player and always look for result oriented work.<p>
                   
                
                
            </div>
        </div>
        





    </body>
</html>