<html>
    <head>
        <title>Home</title>

        <link rel="stylesheet" type="text/css" href="../static/style.css">

        <link rel="preconnect" href="https://fonts.gstatic.com">

        <meta name='viewport' content="width = device-width , initial-scale = 1"> 
        
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <div class="banner">
            <div class="navbar">
                <a href="/" class="home">Fake or Real News</a>
                <input type="checkbox" id="click">
                <label for="click" class="menu-btn">
                    <i class="fas fa-bars"></i>
                </label>
                <ul>
                    <li><a class="active" href="/">Details</a></li>
                    <li><a href="/prediction">Prediction</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
            <div class="content">
                <h3>WHY FAKE NEWS IS A PROBLEM?</h3>
                <br>
                
                <p>Fake news refers to misinformation, disinformation or mal-information which is spread through word of mouth and traditional media and more recently through digital forms of communication such as edited videos, memes, unverified advertisements and social media propagated rumours.Fake news spread through social media has become a serious problem, with the potential of it resulting in mob violence, suicides etc as a result of misinformation circulated on social media.</p>
                <br>
                <br><h3>BRIEF DESCRIPTION OF DATASET</h3>
                <br>
                <p>This dataset consists of about 40000 articles consisting of fake as well as real news. Our aim is train our model so that it can correctly predict whether a given piece of news is real or fake.The fake and real news data is given in two separate datasets with each dataset consisting around 20000 articles each..</p>
                <br>
                <h4>Developer's details</h4>
                <a >NAME :- Prasanna Gaddad</a>
                <br>
                <a >EMAIL ID :- Prasangpc@gmail.com</a>
            </div>
        </div>
        





    </body>
</html>